{% extends 'store/base.html' %} {% load static %} {% block title %}Детское
G.O.A.T - ABUZADA STORE{% endblock %} {% block content %}
<section class="products">
  <h2>G.O.A.T</h2>
  <div class="products-grid">
    <!-- Футболка Messi -->
    <div
      class="product-card"
      data-white-front="{% static 'store/images/Messi.PNG' %}"
      data-white-back="{% static 'store/images/MessiBack.PNG' %}"
      data-black-front="{% static 'store/images/Messi.PNG' %}"
      data-black-back="{% static 'store/images/MessiBack.PNG' %}"
      data-cream-front="{% static 'store/images/Messi.PNG' %}"
      data-cream-back="{% static 'store/images/MessiBack.PNG' %}"
    >
      <div class="carousel-images">
        <img src="{% static 'store/images/Messi.PNG' %}" alt="Messi front" />
        <img src="{% static 'store/images/MessiBack.PNG' %}" alt="Messi back" />
      </div>
      <div class="arrow arrow-left"></div>
      <div class="arrow arrow-right"></div>
      <div class="dots"></div>
      <div class="info-wrapper">
        <p class="product-title">Футболка Lionel Messi</p>
        <p class="price">3490 ₽</p>
        <div class="size-options">
          <span>S</span>
          <span>M</span>
          <span>L</span>
          <span>XL</span>
        </div>
        <div class="color-options">
          <span
            class="color-swatch"
            data-color="white"
            style="background-color: #ffffff"
          ></span>
          <span
            class="color-swatch"
            data-color="cream"
            style="background-color: #f5f5dc"
          ></span>
          <span
            class="color-swatch"
            data-color="black"
            style="background-color: #000000"
          ></span>
        </div>
      </div>
    </div>
    <!-- Футболка Cristiano Ronaldo -->
    <div
      class="product-card"
      data-white-front="{% static 'store/images/Ronaldo.PNG' %}"
      data-white-back="{% static 'store/images/RonaldoBack.PNG' %}"
      data-black-front="{% static 'store/images/Ronaldo.PNG' %}"
      data-black-back="{% static 'store/images/RonaldoBack.PNG' %}"
      data-cream-front="{% static 'store/images/Ronaldo.PNG' %}"
      data-cream-back="{% static 'store/images/RonaldoBack.PNG' %}"
    >
      <div class="carousel-images">
        <img
          src="{% static 'store/images/Ronaldo.PNG' %}"
          alt="Ronaldo front"
        />
        <img
          src="{% static 'store/images/RonaldoBack.PNG' %}"
          alt="Ronaldo back"
        />
      </div>
      <div class="arrow arrow-left"></div>
      <div class="arrow arrow-right"></div>
      <div class="dots"></div>
      <div class="info-wrapper">
        <p class="product-title">Футболка Cristiano Ronaldo</p>
        <p class="price">3490 ₽</p>
        <div class="size-options">
          <span>S</span>
          <span>M</span>
          <span>L</span>
          <span>XL</span>
        </div>
        <div class="color-options">
          <span
            class="color-swatch"
            data-color="white"
            style="background-color: #ffffff"
          ></span>
          <span
            class="color-swatch"
            data-color="cream"
            style="background-color: #f5f5dc"
          ></span>
          <span
            class="color-swatch"
            data-color="black"
            style="background-color: #000000"
          ></span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
